version: "3.8"

services:
  react-app:
    container_name: my-profile
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
